In [ ]:
#In this project, We will closely monitor how different regression techniques help us train the dataset for a better accuracy
# We will deal with dataset that has features about house and in turn we will keep 'SalePrice' of the house as our target varaible

In [ ]:
# helps us in reading our dataset
import pandas as pd 
#We will first apply 'Decision Tree Algorithm' , it is present in 'scikit learn'
from sklearn.tree import DecisionTreeRegressor 
# To check accuracy 
from sklearn.metrics import mean_absolute_error

In [ ]:
iowa= pd.read_csv('/content/drive/My Drive/Colab Notebooks/train.csv')

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#Let us have a look at how our dataset looks like
iowa.describe()

                Id   MSSubClass  ...       YrSold      SalePrice
count  1460.000000  1460.000000  ...  1460.000000    1460.000000
mean    730.500000    56.897260  ...  2007.815753  180921.195890
std     421.610009    42.300571  ...     1.328095   79442.502883
min       1.000000    20.000000  ...  2006.000000   34900.000000
25%     365.750000    20.000000  ...  2007.000000  129975.000000
50%     730.500000    50.000000  ...  2008.000000  163000.000000
75%    1095.250000    70.000000  ...  2009.000000  214000.000000
max    1460.000000   190.000000  ...  2010.000000  755000.000000

[8 rows x 38 columns]

In [ ]:
# Now we shall split our data in training and testing data 
from sklearn.model_selection import train_test_split

#Target Variable
y=iowa.SalePrice

#Since our dataset has many features of house to deal with , for better understanding initially we will take few of them
# to train our model

features=['LotArea','YearBuilt','1stFlrSF','2ndFlrSF','FullBath','BedroomAbvGr','TotRmsAbvGrd']
X=iowa[features]

x_train,val_x,y_train,val_y = train_test_split(X,y,random_state=0)

iowa_model=DecisionTreeRegressor(random_state=0)
iowa_model.fit(x_train,y_train)

pred=iowa_model.predict(val_x)
MAE= mean_absolute_error(pred,val_y)
print('The mean absolute error comes out to be :',MAE)

The mean absolute error comes out to be : 32410.824657534245

In [ ]:
#We find the mean error to be of great deviation from that of 'SalePrice'

#let us try to increase the eficiency of the tree

In [ ]:
#We will now make function for mean_absolute_error
def mae(max_leaf_nodes,x_train,val_x,y_train,val_y):
    model=DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes, random_state=1)
    model.fit(x_train,y_train)
    pred=model.predict(val_x)
    return mean_absolute_error(pred,val_y)

In [ ]:
#Let us randomly decide the number of leaf nodes and check max. efficiency
max_leaf_nodes=[5,25,50,75,80,100,200,500]
min_error=50000
value=0
for i in max_leaf_nodes:
    current_error= mae(i,x_train,val_x,y_train,val_y)
    if current_error < min_error:
      min_error=current_error
      value=i
print('Maximum efficiency is found at leaf value',value,'which is equal to error of',min_error)

Maximum efficiency is found at leaf value 80 which is equal to error of 27280.23209035945

In [ ]:
#We saw that how even small tuning in an algorithm can result into a significant change in its output.

In [ ]:
#Now we should start learning about a better technique than Decision tree i.e. Random Forest

In [ ]:
#importing Random forest
from sklearn.ensemble import RandomForestRegressor
rf_model=RandomForestRegressor(random_state=1)
rf_model.fit(x_train,y_train)
pred=rf_model.predict(val_x)
print('The mean absolute error comes out to be :',mean_absolute_error(pred,val_y))

The mean absolute error comes out to be : 23009.206570906717

In [ ]:
#Let us start tuning into Random Forest for some better results

model1=RandomForestRegressor(n_estimators=50,random_state=0)
model2=RandomForestRegressor(n_estimators=100,random_state=0)
model3=RandomForestRegressor(n_estimators=100,criterion='mse',random_state=0)
model4=RandomForestRegressor(n_estimators=200,min_samples_split=20,random_state=0)
model5=RandomForestRegressor(n_estimators=200,max_depth=10,random_state=1)
model6=RandomForestRegressor(n_estimators=300,max_depth=10,random_state=1)
models=[model1,model2,model3,model4,model5,model6]

In [ ]:
#lets find out the best tweaking resul
def random_mae(model,x_train,val_x,y_train,val_y):
  model.fit(x_train,y_train)
  pred=model.predict(val_x)
  return mean_absolute_error(pred,val_y)

In [ ]:
for i in range(0,6) :
  error=random_mae(models[i],x_train,val_x,y_train,val_y)
  print('Model',i+1,'produced an error of',error)

Model 1 produced an error of 23242.58928767123
Model 2 produced an error of 23093.063676581867
Model 3 produced an error of 23093.063676581867
Model 4 produced an error of 23037.92453211424
Model 5 produced an error of 22610.257134008883
Model 6 produced an error of 22699.26032153816

In [ ]:
#Model 5 performed best among all
final_model=model5

In [ ]:
#We saw a significant change in mean_absolute_error after aplyiing Random Forest and its tweak

In [ ]:
#Now we will shall learn about tweaking the data in order to get lesser errors
# We will start with solving the problem of Missing Values
import pandas as pd
from sklearn.model_selection import train_test_split

# Read the data
X_full = pd.read_csv('/content/drive/My Drive/Colab Notebooks/train.csv', index_col='Id')
X_test_full = pd.read_csv('/content/drive/My Drive/Colab Notebooks/test.csv', index_col='Id')

# Remove rows with missing target, separate target from predictors
X_full.dropna(axis=0, subset=['SalePrice'], inplace=True)
y = X_full.SalePrice
X_full.drop(['SalePrice'], axis=1, inplace=True)

# To keep things simple, we'll use only numerical predictors
X = X_full.select_dtypes(exclude=['object'])
X_test_set = X_test_full.select_dtypes(exclude=['object'])

# Break off validation set from training data
x_train, val_x, y_train, val_y = train_test_split(X, y, train_size=0.8, test_size=0.2)

In [ ]:
#Method 1: Drop the columns with missing values
model=RandomForestRegressor(n_estimators=100, random_state=0)

models= [model,final_model]

x_train,val_x,y_train,val_y = train_test_split(X,y,random_state=0)
cols_miss= [col for col in x_train.columns
                     if x_train[col].isnull().any()]

print('The Missing Columns Are:', *cols_miss)

reduced_X_train = x_train.drop(cols_miss, axis=1)
reduced_X_valid = val_x.drop(cols_miss, axis=1)

print("MAE from Method 1 i.e. Drop the columns with missing values is:")
for i in models:
    print(random_mae(i,reduced_X_train,reduced_X_valid,y_train,val_y))

The Missing Columns Are: LotFrontage MasVnrArea GarageYrBlt
MAE from Method 1 i.e. Drop the columns with missing values is:
17668.575013698628
17421.370448147234

In [ ]:
#Method 2 : Imputing
from sklearn.impute import SimpleImputer
impu = SimpleImputer()

imputed_X_train = pd.DataFrame(impu.fit_transform(x_train))
imputed_X_validation = pd.DataFrame(impu.transform(val_x))

print("MAE from Method 2 i.e. Imputing is :")
for i in models:
    print(random_mae(i,imputed_X_train,imputed_X_validation,y_train,val_y))

MAE from Method 2 i.e. Imputing is :
17502.924712328768
17406.35043596862

In [ ]:
#Now we will deal with Categorial Variables and how to remove them

In [ ]:
#Lets make a function to examine the Efficiency of each learned method
#This time we will include imputer so that values such as NaN , infinity and large values that float32 can not
#handle will be removed before feeding the data to score
def score(train_x,val_x,train_y,val_y):
    impu = SimpleImputer()
    model = RandomForestRegressor(n_estimators=100,random_state=0)
    new_train_x = pd.DataFrame(impu.fit_transform(train_x))
    new_val_x = pd.DataFrame(impu.transform(val_x))
    model.fit(new_train_x,train_y)
    predictions = model.predict(new_val_x)
    return mean_absolute_error(predictions,val_y)

In [ ]:
#Method 1 : Drop columns with categorical variables
drop_X_train = x_train.select_dtypes(exclude=['object'])
drop_X_valid = val_x.select_dtypes(exclude=['object'])

print('MAE after Dropping columns:',score(drop_X_train,drop_X_valid,y_train,val_y))

MAE after Dropping columns: 18747.352020547944

In [ ]:
#Method 2 : Label Encoding
#Before jumping into label encoding, we'll investigate the dataset. Specifically, we'll look at the 'Condition2' column.
y=iowa['SalePrice']
X=iowa.drop('SalePrice',axis=1)
x_train, val_x, y_train, val_y = train_test_split(X, y, train_size=0.8, test_size=0.2)

print("Unique values in 'Condition2' column in training data:", x_train['Condition2'].unique())
print("\nUnique values in 'Condition2' column in validation data:", val_x['Condition2'].unique())

Unique values in 'Condition2' column in training data: ['Norm' 'Feedr' 'PosA' 'RRAe' 'RRNn' 'PosN']

Unique values in 'Condition2' column in validation data: ['Norm' 'Feedr' 'Artery' 'PosN' 'RRAn' 'RRNn']

In [ ]:
#Here we find that both of the condition 2 column are not same. Fitting a label encoder to a column in the training data
# creates a corresponding integer-valued label for each unique value that appears in the training data. 
#In the case that the validation data contains values that don't also appear in the training data
#the encoder will throw an error, because these values won't have an integer assigned to them.
# Notice that the 'Condition2' column in the validation data contains the values 'RRAn' and 'RRNn'
#but these don't appear in the training data -- thus, if we try to use a label encoder with scikit-learn, the code will throw an error.

#A solution to such an issue can possibly be to remove such columns

In [ ]:
# All categorical columns
object_cols = [col for col in x_train.columns if x_train[col].dtype == "object"]

# Columns that can be safely label encoded
good_label_cols = [col for col in object_cols if 
                   set(x_train[col]) == set(val_x[col])]
        
# Problematic columns that will be dropped from the dataset
bad_label_cols = list(set(object_cols)-set(good_label_cols))
        
print('Categorical', len(good_label_cols), 'columns that will be label encoded:', good_label_cols)
print('\nCategorical' , len(bad_label_cols),  'columns that will be dropped from the dataset:', bad_label_cols)

Categorical 25 columns that will be label encoded: ['MSZoning', 'Street', 'Alley', 'LotShape', 'LandContour', 'LotConfig', 'LandSlope', 'BldgType', 'HouseStyle', 'MasVnrType', 'ExterQual', 'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2', 'CentralAir', 'KitchenQual', 'FireplaceQu', 'GarageType', 'GarageFinish', 'GarageQual', 'PavedDrive', 'Fence', 'SaleCondition']

Categorical 18 columns that will be dropped from the dataset: ['SaleType', 'RoofMatl', 'Condition2', 'PoolQC', 'Exterior1st', 'HeatingQC', 'ExterCond', 'RoofStyle', 'Neighborhood', 'Electrical', 'Condition1', 'Exterior2nd', 'GarageCond', 'Functional', 'Foundation', 'Heating', 'MiscFeature', 'Utilities']

In [ ]:
#Now we can apply label encoding on the dataset

from sklearn.preprocessing import LabelEncoder

label_x_train = x_train.drop(bad_label_cols,axis=1)
label_val_x = val_x.drop(bad_label_cols,axis=1)

lenco=LabelEncoder()
for col in good_label_cols:
  label_x_train[col]=lenco.fit_transform(label_x_train[col].astype('str'))
  label_val_x[col]=lenco.transform(label_val_x[col].astype('str'))
#print(label_val_x.shape)
print('MAE after Method 2 i.e. Label Encoding:')
print(score(label_x_train,label_val_x,y_train,val_y))

MAE after Method 2 i.e. Label Encoding:
17765.301438356164

In [ ]:
#So far, we've tried two different approaches to dealing with categorical variables.
# And, we've seen that encoding categorical data yields better results than removing columns from the dataset.

In [ ]:
#Now we should learn about One Hot Encoding

In [ ]:
# Get number of unique entries in each column with categorical data


object_cols= [col for col in x_train if x_train[col].dtype=='object']
#print(len(object_cols))
unique_objects = list(map(lambda col: x_train[col].nunique(), object_cols))
d = dict(zip(object_cols, unique_objects))
# Print number of unique entries by column, in ascending order
sorted(d.items(), key=lambda x: x[1])

[('Street', 2),
 ('Alley', 2),
 ('Utilities', 2),
 ('CentralAir', 2),
 ('LandSlope', 3),
 ('GarageFinish', 3),
 ('PavedDrive', 3),
 ('PoolQC', 3),
 ('LotShape', 4),
 ('LandContour', 4),
 ('MasVnrType', 4),
 ('ExterQual', 4),
 ('BsmtQual', 4),
 ('BsmtCond', 4),
 ('BsmtExposure', 4),
 ('Electrical', 4),
 ('KitchenQual', 4),
 ('GarageCond', 4),
 ('Fence', 4),
 ('MiscFeature', 4),
 ('MSZoning', 5),
 ('LotConfig', 5),
 ('BldgType', 5),
 ('ExterCond', 5),
 ('HeatingQC', 5),
 ('FireplaceQu', 5),
 ('GarageQual', 5),
 ('Condition2', 6),
 ('RoofStyle', 6),
 ('Foundation', 6),
 ('BsmtFinType1', 6),
 ('BsmtFinType2', 6),
 ('Heating', 6),
 ('GarageType', 6),
 ('SaleCondition', 6),
 ('Functional', 7),
 ('HouseStyle', 8),
 ('RoofMatl', 8),
 ('Condition1', 9),
 ('SaleType', 9),
 ('Exterior1st', 15),
 ('Exterior2nd', 15),
 ('Neighborhood', 25)]

In [ ]:
# Columns that will be one-hot encoded
low_cardinality_cols = [col for col in object_cols if x_train[col].nunique() < 10]

# Columns that will be dropped from the dataset
high_cardinality_cols = list(set(object_cols)-set(low_cardinality_cols))

print('Categorical columns that will be one-hot encoded:', low_cardinality_cols)
print('\nCategorical columns that will be dropped from the dataset:', high_cardinality_cols)

Categorical columns that will be one-hot encoded: ['MSZoning', 'Street', 'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig', 'LandSlope', 'Condition1', 'Condition2', 'BldgType', 'HouseStyle', 'RoofStyle', 'RoofMatl', 'MasVnrType', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2', 'Heating', 'HeatingQC', 'CentralAir', 'Electrical', 'KitchenQual', 'Functional', 'FireplaceQu', 'GarageType', 'GarageFinish', 'GarageQual', 'GarageCond', 'PavedDrive', 'PoolQC', 'Fence', 'MiscFeature', 'SaleType', 'SaleCondition']

Categorical columns that will be dropped from the dataset: ['Neighborhood', 'Exterior2nd', 'Exterior1st']

In [ ]:
from sklearn.preprocessing import OneHotEncoder

# Apply one-hot encoder to each column with categorical data
OH_encoder = OneHotEncoder(handle_unknown='ignore', sparse=False)

OH_train = x_train[low_cardinality_cols]
for i in OH_train.columns:
    OH_train[i].fillna(0,inplace= True)

OH_valid = val_x[low_cardinality_cols]
for i in OH_valid:
    OH_valid[i].fillna(0,inplace= True)


OH_cols_train = pd.DataFrame(OH_encoder.fit_transform(OH_train[low_cardinality_cols].astype('str')))
OH_cols_valid = pd.DataFrame(OH_encoder.transform(OH_valid[low_cardinality_cols].astype('str')))

# One-hot encoding removed index; put it back
OH_cols_train.index = x_train.index
OH_cols_valid.index = val_x.index

# Remove categorical columns (will replace with one-hot encoding)
num_X_train = x_train.drop(object_cols, axis=1)
num_X_valid = val_x.drop(object_cols, axis=1)

# Add one-hot encoded columns to numerical features
OH_X_train = pd.concat([num_X_train, OH_cols_train], axis=1)
OH_X_valid = pd.concat([num_X_valid, OH_cols_valid], axis=1)

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [ ]:
print("MAE from Approach 3 i.e. (One-Hot Encoding):") 
print(score(OH_X_train, OH_X_valid, y_train, val_y))

MAE from Approach 3 i.e. (One-Hot Encoding):
17674.251369863014